
@theme inline {
  /* Colores del proyecto (referencian variables de :root en globals.css) */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Fuentes */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
